@import "tailwindcss";

:root {
  --primary-color: #00B8C1;
  --secondary-color: #EC098D;
  --navbar-text-color: #BBBBBB;
  --paragraph-text-color: #787878;

  --font-heading: var(--font-rubik);
  --font-body: var(--font-lato);
}

.__nav-link {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 16px;
  color: var(--navbar-text-color);
}

.__heading {
  font-family: var(--font-heading);
}

.__text {
  font-family: var(--font-body);
}

.__paragraph {
  color: var(--paragraph-text-color);
}

.__paragraph-bg{
  background-color: var(--paragraph-text-color);
}

.__secondary-bg {
  background-color: var(--secondary-color);
}

.__primary-bg {
  background-color: var(--primary-color);
}

.__primary-text {
  color: var(--primary-color);
}

.__secondary-text {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-lato);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-rubik);
}

.__gapTop {
  padding-top: 60px;
}

.sliding-text {
  display: inline-block;
  white-space: nowrap; /* Prevents text from wrapping */
  animation: slide 15s linear infinite; /* Adjust duration (10s) as needed */
}

/* Animation keyframes for sliding effect */
@keyframes slide {
  0% {
    transform: translateX(100%); /* Start from the right */
  }
  100% {
    transform: translateX(-100%); /* Move to the left */
  }
}

/* Apply sliding effect only on mobile view (≤ 768px) */
@media (min-width: 769px) {
  .sliding-text {
    animation: none; /* Disable animation on larger screens */
    display: block; /* Normal text display for desktop */
  }
}

